# This is only needed on Windows hosts, since permissions will be messed up for the volume mount
StrictModes no

# These are the defaults from the config file that weren't commented out
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no