@{
    ViewData["Title"] = "Repos";
}

<div data-hr-controller="mainTable">
    <load visible="true">
        <p>Working...</p>
    </load>
    <main>
        <div data-hr-view="listing">
            <template>
                <div class="card mb-2">
                    <div class="card-header d-sm-flex justify-content-between">
                        <div class="p-2">{{name}}</div>
                        <div class="p-2">{{clonePath}} <button data-hr-on-click="copyClonePath" class="btn btn-primary ml-1 ml-sm-3">Copy</button></div>
                    </div>
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between">
                            <div class="p-2">Last Modified: {{modified}}</div>
                            <div class="p-2">
                                <button data-hr-on-click="edit" class="btn btn-default" data-hr-toggle="edit" data-hr-style-off="display:none;">&#9999;</button>
                                <button data-hr-on-click="view" class="btn btn-default" data-hr-toggle="view" data-hr-style-off="display:none;">&#128065;</button>
                                <button data-hr-on-click="del" class="btn btn-default" data-hr-toggle="del" data-hr-style-off="display:none;">&#128683;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <button data-hr-on-click="add" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button>
        </div>

        <page-numbers></page-numbers>
    </main>

    <error>
        An error occured loading the gitRepos. Please try again later.
    </error>
</div>

<modal data-hr-controller="entryEditor" title-text="GitRepo" dialog-classes="modal-lg">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form class="form-horizontal" data-hr-form-component="hr.forms.horizontal"></item-edit-form>
    </main>
    <error class="modal-body">
        <p>An error occured loading the value. Please try again later.</p>
    </error>
</modal>